<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.db_PortafolioConnectionString"
            connectionString="Data Source=DESKTOP-RBI8HGP\SQLEXPRESS;Initial Catalog=db_Portafolio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.dbPortafolioDocentesConnectionString"
            connectionString="Data Source=DESKTOP-RBI8HGP\SQLEXPRESS;Initial Catalog=dbPortafolioDocentes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.dbPortafolioDocentesConnectionString1"
            connectionString="Data Source=DESKTOP-V52J8R2;Initial Catalog=dbPortafolioDocentes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>